WebApplication1/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:3272/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:3272/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:3272/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_consultar_InputMessage">
    <wsdl:part name="parameters" element="tns:consultar" />
  </wsdl:message>
  <wsdl:message name="IService1_consultar_OutputMessage">
    <wsdl:part name="parameters" element="tns:consultarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_insertar_InputMessage">
    <wsdl:part name="parameters" element="tns:insertar" />
  </wsdl:message>
  <wsdl:message name="IService1_insertar_OutputMessage">
    <wsdl:part name="parameters" element="tns:insertarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:modificar" />
  </wsdl:message>
  <wsdl:message name="IService1_modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminar_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminar" />
  </wsdl:message>
  <wsdl:message name="IService1_eliminar_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_mostrarTodos_InputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTodos" />
  </wsdl:message>
  <wsdl:message name="IService1_mostrarTodos_OutputMessage">
    <wsdl:part name="parameters" element="tns:mostrarTodosResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="consultar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/consultar" message="tns:IService1_consultar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/consultarResponse" message="tns:IService1_consultar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/insertar" message="tns:IService1_insertar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/insertarResponse" message="tns:IService1_insertar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/modificar" message="tns:IService1_modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/modificarResponse" message="tns:IService1_modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/eliminar" message="tns:IService1_eliminar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/eliminarResponse" message="tns:IService1_eliminar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="mostrarTodos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/mostrarTodos" message="tns:IService1_mostrarTodos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/mostrarTodosResponse" message="tns:IService1_mostrarTodos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultar">
      <soap:operation soapAction="http://tempuri.org/IService1/consultar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertar">
      <soap:operation soapAction="http://tempuri.org/IService1/insertar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificar">
      <soap:operation soapAction="http://tempuri.org/IService1/modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminar">
      <soap:operation soapAction="http://tempuri.org/IService1/eliminar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mostrarTodos">
      <soap:operation soapAction="http://tempuri.org/IService1/mostrarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:3272/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>